extends layout

block footer
   .ui
      .ui.grid.center.aligned
         .ui.column.three.wide.middle.aligned
            h3 Made with ❤ For Us By Us
            p.meta A Black Market Traders Product.&copy;
         .ui.column.nine.wide
            p
               b Menu
            .ui.list
               .item
                  a(src='#') Home
               .item
                  a(src="/about") About Us
               .item
                  a(src='#') Contact
               .item
                  a(src='#') Join Team
               .item
                  a(src='#') Hire Us
         .ui.column.four.wide.middle.aligned
            h3
               | This should be
               small  small
               |  I hope
