extends layout

block footer
  .ui.grid.center.aligned
    .ui.column.three.wide
      .ui.list
        .item
          a(src='#') Home
        .item
          a(src="#") About Us
        .item
          a(src='#') Contact
        .item
          a(src='#') Join Team
        .item
          a(src='#') Hire Us
    .ui.column.nine.wide
      h3 Made with ❤ For Us By Us
      p.meta A Black Market Traders Product.
    .ui.column.four.wide
      h3
        | This should be
        small  small
        |  I hope
