extends layout
extends navbar
extends footer

block content
   br
   br
   br
   #main-content.centered
      h1.ui.huge.header.center.aligned.icon
         img(src='http://sandhyajha.com/wp-content/uploads/2015/07/Fist-FredDouglas.jpg').ui.image.middle.algned.circular.centered.large.sixteen.side
         br
         //| #{title}
      #main-title-header.ui.vertically.stackable.grid.center.aligned.padding
         .ten.wide.column
            h1 Welcome to #{title}
            h3 A futures and equities analysis company
            button.ui.button.secondary.basic.huge Check Here
      //      Second Section
      .ui.inverted.segment
         .ui.vertically.divided.grid.middle.aligned.container.equal.width
            .two.column.row
               .column
                  img(src='http://semantic-ui.com/examples/assets/images/wireframe/image.png').ui.huge.image
               .column
                  .row
                     img(src='http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png').ui.wireframe.image
                     .huge
                  br
                  .ui.divider
                  br
                  .row
                     img(src='http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png').ui.wireframe.image
         .ui.vertical.stripe.quote.segment
            .ui.four.column.stackable.padded.grid.center.aligned
               .row.items
                  .column
                     .item
                        .column
                           .ui.medium.image
                              img(src='http://semantic-ui.com/examples/assets/images/wireframe/image.png')
                              br
                        .column
                           .ui.small.image
                              img(src='http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png').ui.wireframe.image
                  .column
                     .item
                        .column
                           .ui.medium.image
                              img(src='http://semantic-ui.com/examples/assets/images/wireframe/image.png')
                              br
                        .column
                           .ui.small.image
                              img(src='http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png').ui.wireframe.image
                  .column
                     .item
                        .column
                           .ui.medium.image
                              img(src='http://semantic-ui.com/examples/assets/images/wireframe/image.png')
                              br
                        .column
                           .ui.small.image
                              img(src='http://semantic-ui.com/examples/assets/images/wireframe/paragraph.png').ui.wireframe.image
      //                  Third Section
      .ui.container.center.aligned#third-section
         .ui.center.aligned
            h2.ui.title Algorithmic Trading
            .small why algorithmic trading?
         .ui.divider
         .ui.items.divided
            .item
               .middle.aligned.content
                  a(src='#').header Analysis faster than the human trader
                  .meta calculation derivatives at every .0045s
                  .description calculation derivatives at every .0045s with systems that run 24hrs.
                     | Feel comfortable taking on more, making more, and spending less time doing it.
               .ui.small.image
                  i.ui.icon.money.massive

            .item
               .ui.small.item
                  i.ui.icon.privacy.massive
               .content.middle.aligned.content
                  a(src='#').header Chart-less trading
                  .meta you don't need to see the show to make money off of it
                  .description Simplify trading without compromise. We take the simple approach to
                     | trading, buy low and sell high, no charts needed.
            .item
               .content.aligned.left
                  a(src='#').header Analysis faster than the human trader
                  .meta calculate derivatives every .0045s
                  .description calculation derivatives at every .0045s with systems that run 24hrs.
                     | Feel comfortable taking on more, making more, and spending less time doing it
               .ui.small.item
                  i.ui.icon.shop.massive
      //                  Fourth Section Statistics
      br
      #fourth-section.ui.container.fluid.inverted.segment
         .ui.three.column.grid.stackable
            .column.center.aligned
               .ui.statistic.inverted
                  .value
                     i.icon.shield
                     br
                     | +300,000
                     h1 Protections
            .column.center.aligned
               .ui.statistic.inverted
                  .value
                     i.icon.users
                     br
                     | +300,000
                     h1 Accounts
            .column.center.aligned
               .ui.statistic.inverted
                  .value
                     i.icon.time
                     br
                     | +307,019
                     h1 Trades/Second

   .footer
   script(src='/reload/reload.js')