block nav-bar
   //.ui.pointing.menu.huge.fixed.borderless.main
   .ui.secondary.pointing.menu.huge
      a(href='/').header.item
         img(src='http://sandhyajha.com/wp-content/uploads/2015/07/Fist-FredDouglas.jpg').ui.circular.image.avatar
      a(href='/').header.item #{title}
      a(href='/').active.item Home
      a(href='/').item Reports
      a(href='/').item Download
      a(href='/about').item About
      a(href='/').item Help
      .right.menu
         a(href='/login').ui.item.button.dropdown.item Log In
            .menu